@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 1rem;
  background-color: #e2edfc;
  font-family: 'Nunito Sans', sans-serif;
  overflow-y: scroll;
}

p {
  margin: 1rem;
}

h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 1rem;
  display: inline-block;
}

#float {
  float: right;
}

.card {
  background-color: white;
  border-radius: 0.4rem;
  padding: 1px 1px;
  margin: 1rem auto;
  max-width: 50rem;
  height: auto;
  width: 100%;
  overflow: auto;
}

textarea {
  width: calc(100% - 2rem);
  margin: 1rem;
  display: block;
  padding: 0.5rem;
  height: 4.8rem;
  line-height: 1.2;
  resize: vertical;
}

.card-controls button {
  float: right;
  width: 2rem;
  margin: 1rem 0rem 1rem 0.5rem;
  margin-right: 0rem;
  padding: 0;
}

.card-controls button:first-child {
  margin-right: 1rem;
}

.card-controls button:last-child {
  margin-left: 1rem;
}

input, button, textarea, select {
  background-color: white;
  color: inherit;
  border-radius: 0.2rem;
  border: solid 1px #888;
  outline: none;
  box-shadow: none;
  max-width: 100%;
  transition: background-color 250ms;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

button:hover {
  background-color: #e2edfc;
}

.run {
  min-width: 3rem;
}

#output-box {
  height: 2.2rem;
  overflow-y: hidden;
  resize: none;
}

input[type="text"], button, select {
  height: 1.5rem;
}

input[type=number] {
  width: 4rem;
  text-align: center;
}
